.header {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    overflow: hidden;
    z-index: 10;

    height: 240px;
 
    color: #fff;
    background: #000;

    &__panel {
        display: flex;

        & > * {
            vertical-align: top;
        }
    }
    
    &__social-icon {
        width: 18px;

        & path {
            fill: white;
        }
    }

    &_fixed {
        position: fixed;
        top: -180px;
    } 
}